<form method="post" action="{{ path('espece_delete', {'id': espece.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cette espèce ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ espece.id) }}">
    <button class="btn">Supprimer</button>
</form>
