{% extends "base.html.twig" %}

{% block titre %}
    {{ parent() }} : Modifier l'espèce
{% endblock %}

{% block contenu %}
    <h3>Modifier l'espèce :</h3>
    
    {{ include('espece/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('espece_index') }}">Retourner à la liste des espèces</a>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('espece/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}