{% extends "base.html.twig" %}

{% block titre %}
    {{ parent() }} : Modification animal 
{% endblock %}

{% block contenu %}
    <h3>Modifier les informations de l'animal :</h3>

    {{ include('animal/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('animal_index') }}">Retourner à la liste des animaux</a>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('animal/_delete_form.html.twig') }}
    {% endif %}
    
{% endblock %}