{% extends "base.html.twig" %}

{% block titre %}
    {{ parent() }} : Modifier personne
{% endblock %}

{% block contenu %}
    <h3>Modifier les informations sur la personne :</h3>
    
    {{ include('personne/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('personne_index') }}">Retourner à la liste des personnes</a>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('personne/_delete_form.html.twig') }}
    {% endif %}
    

    
{% endblock %}