{% extends "base.html.twig" %}

{% block titre %}
    {{ parent() }} : Modifier l'adresse
{% endblock %}

{% block contenu %}
    <h3>Modifier les informations sur l'adresse :</h3>
    
    {{ include('adresse/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('adresse_index') }}">Retourner à la liste des adresses</a>

    {{ include('adresse/_delete_form.html.twig') }}

{% endblock %}